<div class="vh-data__date">
    <p class="vh-data__date-number vh-date__font">8</p>
    <p class="vh-data__date-day vh-date__font">Sat</p>
</div>

<ul class="vh-data__date-list vh-list">
    <li class="vh-date__item vh-item__after">
        <p>February</p>
    </li>
    <li class="vh-date__item vh-item__before">
        <p>21:30:56</p>
    </li>
</ul>

<ul class="vh-data__sun-list vh-list">
    <li class="vh-sun__item ">
        <img src="./images/sunrise.png" alt="sunrise" width="25" height="33">
        <p class="vh-item__after">07:04</p>
    </li>
    <li class="vh-sun__item vh-item__before">
        <img src="./images/sunset.png" alt="sunrise" width="25" height="33">
        <p>17:05</p>
    </li>
</ul>