*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pm_section {
  width: 1060px;
  border-radius: 35px;
  filter: drop-shadow(0px 8px 21.5px rgba(16, 33, 54, 0.59));
  background-color: #102136;
  margin: auto;
}

@media (max-width: 768px) {
  .pm_section {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .pm_section {
    width: 280px;
  }
}

.pm_weather {
  text-align: center;
  padding: 30px 20px 15px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .pm_weather {
    padding: 30px 20px 15px;
  }
}

.js-heading {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  font-family: 'Lato';
  font-style: normal;
  letter-spacing: 1px;
  line-height: 22px;
  display: none;
}
@media (max-width: 320px) {
  .js-heading {
    display: flex;
    justify-content: center;
  }
}
.pm_days {
  width: auto;
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 320px) {
  .pm_days {
    width: 600px;
    overflow: auto;
  }
}

.pm_info_item {
  display: flex;
  flex-direction: column;
  width: 160px;
  border-radius: 25px;
  cursor: pointer;
}

.pm_info_item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .pm_info_item:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 320px) {
  .pm_info_item:not(:last-child) {
    margin-right: 20px;
  }
}

.pm_day_week {
  margin-bottom: 8px;
  pointer-events: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.54);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .pm_day_week {
    font-size: 14px;
  }
}

.pm_day_month {
  margin-bottom: 2px;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .pm_day_month {
    font-size: 18px;
  }
}

.pm_img_5days {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

// ------------
.pm_min_max_label {
  width: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.54);
}

@media (max-width: 768px) {
  .pm_min_max_label {
    font-size: 14px;
  }
}

.pm_min_max_label::after {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.2;
  position: absolute;
  width: 1px;
  height: 30px;
  top: 40%;
  left: 49%;
}

@media (max-width: 768px) {
  .pm_min_max_label::after {
    height: 40px;
  }
}

.pm_min_max_item {
  width: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ff6b08;
}

@media (max-width: 768px) {
  .pm_min_max_item {
    font-size: 18px;
  }
}

.pm_min_max_item span {
  padding-top: 4px;
  margin-left: 6px;
}

.pm_more_info {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 4px;
  outline: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
}

.pm_card_container {
  width: 120px;
  height: 220px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 320px) {
  .pm_card_container {
    cursor: none;
  }
  .pm_card_container:hover {
  }
}
.pm_card_container:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .pm_card_container:not(:last-child) {
    margin-right: 10px;
  }
}

.pm_card_container:hover {
  background-color: #2a3747;
}

.pm_temp {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ff6b08;
  font-weight: 700;
  font-family: 'Lato';
  text-align: center;
}

.pm_temp:first-child {
  border-right: 1px solid #9da3ab;
}

.pm_temp span {
  padding: 0;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9da3ab;
  font-weight: 400;
  font-family: 'Lato';
}

.pm_info_item:hover .pm_more_info {
  color: #ffffff;
  cursor: pointer;
}

.pm_info_item:focus .pm_more_info {
  color: #ffffff;
  cursor: pointer;
}

.pm_info_item:hover .pm_day_week {
  color: #ff6b08;
}

.pm_info_item:focus .pm_day_week {
  color: #ff6b08;
}

/* --------------------------------------------------- */
.pm_5day_more_info {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 15px;
  margin: auto;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .pm_5day_more_info {
    width: 1060px;
    justify-content: stretch;
  }
}
@media (max-width: 320px) {
  .pm_5day_more_info {
    overflow: scroll;
  }
}
.pm_info_btn_container {
  display: none;
  padding-top: 10px;
  flex-direction: row;
  justify-content: center;
}
.pm_info_btn_container_mobile {
  display: none;
  padding-top: 10px;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 320px) {
  .pm_info_btn_container_mobile {
    display: flex;
  }
}

.pm_info_btn_container_mobile div:not(:last-child) {
  margin-right: 10px;
}
.pm_close_btn_container {
  display: flex;
  padding-top: 10px;

  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .pm_info_btn_container {
    display: flex;
  }
}
@media (max-width: 320px) {
  .pm_info_btn_container {
    display: none;
  }
}

.pm_info_btn_container div:not(:last-child) {
  margin-right: 30px;
}

.pm_info_btn_container div:hover {
  background-color: #213042;
  cursor: pointer;
}

.pm_more_info_block {
  display: none;
  flex-direction: column;
}

.pm_js_close_btn {
  width: 27px;
  height: 27px;
  border-radius: 13px;
  background-color: #4e4f53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pm_js_close_btn:hover {
  background-color: #213042;
  cursor: pointer;
}

.pm_is_active {
  display: flex;
}

.pm_is_hidden {
  display: none;
}

.pm_card_date {
  padding-top: 22px;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Lato';
  text-align: center;
}

.pm_card_icon {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.pm_card_tmp {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ff6b08;
  font-weight: 700;
  font-family: 'Lato';
}

.pm_card_grd_lvl {
  padding-top: 14px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9198a0;
  font-weight: 400;
  font-family: 'Lato';
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.pm_card_grd_lvl img {
  margin-right: 10px;
}

.pm_card_hum {
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9198a0;
  font-weight: 400;
  font-family: 'Lato';
  margin-left: 19px;
  display: flex;
  align-items: center;
}

.pm_card_hum img {
  margin-right: 16px;
}

.pm_card_wind {
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9198a0;
  font-weight: 400;
  font-family: 'Lato';
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.pm_card_wind img {
  margin-right: 9px;
}

// ------------------

// .pm_chart {
//   background-color: #102136;
// }

#myChart {
  background-color: #102136;
  border-radius: 35px;
}

.pm_close_btn {
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  z-index: 100;
  top: -30px;
  left: 97%;
}

.pm_chart_container {
  padding-top: 15px;
  width: 1060px;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 8px 21.5px rgba(16, 33, 54, 0.59));
  margin: auto;
  height: 550px;
  border-radius: 35px;
}

@media (max-width: 768px) {
  .pm_chart_container {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .pm_chart_container {
    width: 280px;
    height: 300px;
  }
}

.show-charts {
  padding-top: 2px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ff6b08;
  font-weight: 400;
  font-family: 'Lato';
  text-align: center;
  text-decoration: underline;
  margin-right: 6px;
}

.pm_show_charts_container {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.pm_img_contaner {
  width: 27px;
  height: 27px;
  border-radius: 13px;
  background-color: #4e4f53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pm_img_contaner:hover {
  background-color: #213042;
  cursor: pointer;
}
