html {
  box-sizing: border-box;
}

* {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.content {
  width: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

.dk-five-days {
  display: none;
}

.dk-current-day {
  width: 100%;
}

.vh-oneday__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1280px;
  margin: 0 auto;
}

.vh-button__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1280px;
  margin: 0 auto;
}

.vh-div__desktop {
  padding-right: calc((100vw - 1280px)/2);
}

#root {
  position: relative;
  padding-top: 100px;
}

.inner {
  background-color: rgba(0, 0, 0, .5);
}

.d_search-form {
  padding-left: 15px;
  display: flex;
}
