.pm_5day_container {
  /* width: 280px; */

  border-radius: 35px;
  filter: drop-shadow(0px 8px 21.5px rgba(16, 33, 54, 0.59));
  background-color: #102136;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pm_5day_container span {
  width: 100%;
  padding-top: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

.pm_5day_main {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.pm_info_item {
  width: 100px;
  display: flex;
  flex-direction: column;
}


.pm_day_week {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9da3ab;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}

.pm_day_month {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}

.pm_img_5days {
  margin: auto;
}

.pm_temp_container {
  display: flex;
  flex-direction: row;
}


.pm_card_container {
  width: 120px;
  height: 220px;
  border-radius: 25px;
  background-color: #142435;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.pm_temp {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ff6b08;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

.pm_temp:first-child {
  border-right: 1px solid #9da3ab;
}

.pm_temp span {
  padding: 0;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9da3ab;
  font-weight: 400;
  font-family: "Lato";
}

.pm_more_info {
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #626b76;
  font-weight: 400;
  font-family: "Lato";
}

.pm_info_item:hover .pm_more_info {
  color: #ffffff;
  cursor: pointer;
}

.pm_more_info:active {
  color: #ffffff;
  cursor: pointer;
}

.pm_info_item:hover .pm_day_week {
  color: #ff6b08;
}

.pm_day_week:active {
  color: #ff6b08;
}


/* --------------------------------------------------- */
.pm_5day_more_info {
  display: none;
  width: 100%;
  padding-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.pm_is_active {
  display: flex;
}

.myChart {
  display: none;
}

.pm_active_chart {
  display: block;
}

.pm_card_date {
  padding-top: 22px;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}

.pm_card_icon {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.pm_card_tmp {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ff6b08;
  font-weight: 700;
  font-family: "Lato";
}

.pm_card_grd_lvl {
  padding-top: 14px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9198a0;
  font-weight: 400;
  font-family: "Lato";
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.pm_card_grd_lvl img {
  margin-right: 10px;
}

.pm_card_hum {
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9198a0;
  font-weight: 400;
  font-family: "Lato";
  margin-left: 19px;
  display: flex;
  align-items: center;
}

.pm_card_hum img {
  margin-right: 16px;
}

.pm_card_wind {
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #9198a0;
  font-weight: 400;
  font-family: "Lato";
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.pm_card_wind img {
  margin-right: 9px;
}
