* {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
  max-width: 100%;
  width: 100%;
<<<<<<< HEAD
  background-image: url(./images/Kyiv.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
/*--------------- STYLES FOR INPUT---------------------*/
.d_container {
  min-width: 320px;
  max-width: 767px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d_input-container {
  margin-top: 28px;
  min-width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-width: 2px;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(255, 255, 255);
}
.d_search-box {
  border: none;
  padding-left: 15px;
  min-width: 280px;
  height: 48px;
  font-size: 14px;
  font-family: 'Lato';
  color: rgb(0, 0, 0);
  line-height: 1.571;
}
.d_icon {
  display: inline-block;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.341;
  width: 22px;
  height: 22px;
}
.d_icon svg:focus,
.d_icon svg:hover {
  cursor: pointer;
  fill: #ff6b08;
}
.d_location-icon {
  margin-left: 25px;
}
.d_star-icon {
  margin-right: 25px;
}

/*--------------- STYLES FOR SLIDER---------------------*/
.container {
  width: 60%;
  margin: 0 auto;
}
.d_layout {
  min-width: 0;
  position: relative;
  /* max-width: 260px; */
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slick-list {
  /* max-width: 280px; */
  /* /* height: 28px; */
  margin: 13px auto;
  position: relative;
  display: block;
  overflow: hidden;
}
.slick-slider {
  margin: 0 auto;
  min-width: 0;
  position: relative;
  display: block;
}
.d_layout .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  font-size: 0;
  border-radius: 50%;
  background-color: rgb(241, 241, 241);
  opacity: 0.2;
  width: 27px;
  height: 27px;
  z-index: 10;
  transform: translateY(-50%);
  /* left: 90%; */
  right: 0;
  background: url('./images/chevron_right.svg') 0 0 / 100% no-repeat;
}
.slick-slide {
  min-width: 0;
  border-radius: 12px;
  background-color: rgb(16, 33, 54);
  opacity: 0.471;
  /* width: 85px; */
  height: 27px;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
}
.d_slider-item:hover,
.d_slider-item:focus {
  color: #ff6b08;
  cursor: pointer;
}
.d_slider-link {
  font-size: 12px;
  font-family: 'Lato';
  color: rgb(255, 255, 255);
  text-decoration: underline;
  line-height: 1.833;
  text-align: center;
}
.d_close-icon {
  margin: 0;
  padding: 0;
  fill: #b1b8c2;
  width: 12px;
  height: 12px;
}
.d_close-icon:hover,
.d_close-icon:focus {
  cursor: pointer;
  fill: #ff6b08;
}

/*--------------- MEDIA---------------------*/
@media (min-width: 767px) {
  .d_input-container {
    width: 493px;
  }
  .d_search-box {
    font-size: 18px;
    line-height: 1.222;
    text-align: left;
    width: 393px;
  }
  .d_layout {
    max-width: 452px;
  }
}
@media (min-width: 1200px) {
  .d_input-container {
    width: 518px;
  }
  .d_layout {
    max-width: 465px;
  }
=======
  min-height: 100vh;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.vh-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;

  justify-content: center;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

.vh-weather {
  color: rgb(255, 255, 255);
}

.vh-degree,
.vh-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vh-bg {
  text-align: inherit;
  min-height: 190px;
  margin-bottom: 32px;

  background-color: rgb(16, 33, 54);
  border-radius: 35px;
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
}

.vh-degree__img {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  /* padding-top: 20px; */
}

.vh-degree__country {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-bottom: 14px;
}

.vh-degree__country,
.vh-item__name {
  color: rgb(255, 255, 255, 0.302);
}

.vh-degree__temperatura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
}

.vh-temperatura-now {
  margin: 0;
  padding: 0;
  font-size: 45px;
  min-width: 75px;
  line-height: 0.6;

  position: relative;
}

/*вставка значка градусов*/
.vh-temperatura-now::after,
.vh-item__temprt::after {
  content: '\B0';
  /* padding-left: 2px; */
}

.vh-temperatura-now::after {
  font-size: 36px;
  position: absolute;
  top: 0;
  /* right: 14px; */
}

.vh-temperatura-list {
  min-width: 95px;
  display: flex;
  justify-content: space-around;
}

.vh-list__item-border {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.102);
}

.vh-item__name,
.vh-item__temprt {
  margin: 0;
  padding: 0;
}

.vh-item__name {
  font-size: 14px;
}

.vh-item__temprt {
  font-size: 18px;
}

.vh-data__bg {
  opacity: 0.6;
}

/* стили для блока с кнопками */
.vh-button {
  margin: 0 auto;
  min-width: 280px;

  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
}

.vh-btns {
  min-width: 122px;
  min-height: 25px;
  border: 2px solid rgb(255, 255, 255);
  opacity: 0.541;
  border-radius: 40px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(0, 0, 0);

  transition: transform 200ms ease-in-out;
}

.vh-btns:hover,
.vh-btns:focus {
  /* width: 126px;
  height: 29px; */
  background-color: rgb(247, 247, 247);
  opacity: 1;
  cursor: pointer;

  transform: scale(1.03);
}

/* блок с датой */
.vh-data {
  justify-content: center;
  margin-bottom: 40px;
}

.vh-data__date {
  min-width: 130px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.vh-date__font {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 0.6;
  text-align: inherit;
}

.vh-data__date-number {
  position: relative;
}

.vh-data__date-number::after {
  position: absolute;
  font-size: 14px;
  padding-left: 2px;
  /* top: 0; */
  content: 'th';
}

.vh-data__date-list {
  min-width: 170px;

  align-items: center;
  margin-bottom: 24px;
}

.vh-item__after {
  padding: 2px;
  padding-right: 10px;
  border-right: 1px solid rgba(231, 232, 235, 0.4);
}

.vh-item__before {
  padding-left: 10px;
}

.vh-date__item p,
.vh-sun__item p {
  margin: 0;
}

.vh-sun__item {
  min-width: 84px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

/* блок цитата */
/* .vh-quote {
  min-width: 204px;
  margin: 0;
  padding: 0;
} */

.vh-quote__text {
  margin: 0;
  padding: 0;
  text-align: right;
  font-style: italic;
  line-height: 1.5;
}

.vh-quote__author {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 18px;
  line-height: 1.778;
}

/*TABLE*/
@media (min-width: 768px) {
  .wrapper {
    width: 660px;
  }

  .container {
    width: 490px;
  }

  .vh-bg {
    min-height: 276px;
    margin-bottom: 46px;
  }

  .vh-degree__temperatura {
    min-width: 178px;
    flex-direction: column;
  }

  .vh-temperatura-now,
  .vh-degree__country {
    margin-bottom: 30px;
  }

  .vh-button {
    margin-bottom: 46px;
    width: 294px;
  }

  .vh-data__date,
  .vh-data__date-list,
  .vh-data__sun-list {
    min-width: 294px;
  }

  .vh-date__font,
  .vh-temperatura-now {
    font-size: 90px;

  }

  .vh-data__date-number::after {
    font-size: 23px;
  }

  .vh-date__item p,
  .vh-item__name p,
  .vh-sun__item p,
  .vh-list__item p {
    font-size: 18px;
  }

  .vh-data__date-list {
    margin-bottom: 24px;
  }

  .vh-list {
    justify-content: space-around;
  }

  .vh-quote__text {
    font-size: 22px;
  }
}

/* DESKTOP */
@media (min-width: 960px) {
  .wrapper {
    width: 940px;
  }



  .vh-bg {
    min-height: 302px;
    margin-bottom: 30px;
  }

  .vh-div__desktop {
    display: flex;
    flex-direction: column;
  }

  .vh-desk {
    display: flex;
    flex-wrap: nowrap;
  }


>>>>>>> dev
}
